<!DOCTYPE html>
<html lang="en">
    <%- include("includes/head"); %>
    <body>
        <%- include("includes/header"); %>
        <main>
            <h2>Welcome to your dashboard</h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni quod quibusdam, molestias perferendis tempora quasi fugiat ad, vel sint rem earum, assumenda sunt aspernatur laboriosam. Amet eaque quis
                nisi enim?
            </p>
        </main>
        <%- include("includes/footer"); %>
    </body>
</html>
